### list, tuple, set, dictionary
  - 여러개의 데이터를 담을 수 있는 type
  - JAVA(list,map,set)이 존재
  
list : 생성된 후에 값 변경 가능  
tuple : 생성된 후에 값 변경 불가능

In [10]:
# 학점 관리 프로그램
# A, B, C, D, F

grade=['A','B','C','D','F'] # 학점등급: 고유(불면)  =  tuple

score = 92
if score >= 90:
    print(grade[0])
elif score >= 80:
    print(grade[1])

A

### 리스트를 생성하는 방법
1. [, ,] 값을 담음
2. list() 함수로 생성
3. str.split() 함수로 생성

In [15]:
#JAVA 예약어로 변수를 생성하면 에러가 발생
#python 예약어로 변수 생성하면 생성되고, 기존에 예약어 기능을 상실함
grade = [1,2,3,4,5]
# list = ['A','B','C'] 리스트 타입의 list변수를 생성 but list() 사용 불가
# list에 이름을 변경하면 되는데, 

#String name = '꼬북이' #기본자료형 X 객체자료형

#name = '파이리'
#꼬북이가 사라지는게 아니라 꼬북이도 남아있고 파이리도 남아있음

# del list # 백그라운드 객체 제거

a = list()

  - 다양한 데이터 타입을 담을 수 있음

In [18]:
a = []
print(a)

[]

In [17]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [20]:
a = ['korea','파이리','A',1,23,[34,56]]
print(a)

['korea', '파이리', 'A', 1, 23, [34, 56]]

  - list()함수
    - 다른 데이터 타입을 list로 변경시킬 때 많이 사용

In [23]:
c = 'Hello Python'
d = list(c)
print(d)

e = (1,2,3) #  () typle  [] list
f = list(e)

print(f)

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

  - string split 함수 (자주 사용)

In [25]:
a = 'Life is too short, You need Python'
b = a.split()

print(b) # split()를 사용하면 결과 list 타입으로 담김

['Life', 'is', 'too', 'short,', 'You', 'need', 'Python']

**리스트 인덱싱**

In [28]:
a = [1,2,3,4,5]
print(a[2])
print(a[4])
print(a[-1])

3
5
5

  - 인덱스로 값을 변경
  - Python에서 typle과 문자열은 불변객체, 생성하면 변경 불가!!

In [31]:
a = [1,2,3,4,5]
a[2] = 10
print(a)

b = 'Hello Python'
print(b[0])
b[0] = 'h'
print(b)

[1, 2, 10, 4, 5]
H

TypeError: 'str' object does not support item assignment

In [33]:
#불변이기 때문에 실제 변수에 값을 변경은 불가!!
#새로운 변수를 새엇ㅇ해서 기존값을 전처리 후 옮기는 방법
b = 'Hello Python'
c = 'h' + b[1:]
print(c)

d=b.replace('H','h')
print(d)

hello Python
hello Python

### 리스트 슬라이싱
  - 문자열 슬라이싱과 동일
  - 결과도 list로 받음

In [40]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[:])
print(a[:5])
print(a[5:])
print(a[3:7])

# 슬라이징
# 시작:끝:증가값

a[0:10]
a[0:10:2] #증가값은 index 값
a[0:10:3]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[4, 5, 6, 7]

[1, 4, 7, 10]

### 리스트 멤버 함수

In [42]:
a = [1,2,3,4,5]
a.append(10) #a를 가장 마지막에 담음
print(a)

[1, 2, 3, 4, 5, 10]

In [45]:
a = [1,2,3]
b = [4,5]

#[1,2,3,4,5]
a.append(b)
print(a)

c = [1,2,3]
d = [4,5]

c.extend(d)
print(c)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

  - insert()
    - 원하는 위치에 값을 추가 가능

In [46]:
a = [1,2,3,4,5]
a.insert(1,10) # 1번 인덱스에 10이라는 값을 추가, 기존 1번 인덱스값은 2번으로 한칸씩 밀림

print(a)

[1, 10, 2, 3, 4, 5]

  - remove()
    - 실제값으로 삭제(인덱스 x)
    - 실제값과 동일한 값이 존재하는 경우 가장 앞에 값만 삭제
    - 지우려는 실제값이 list에 없으면 에러 발생

In [49]:
a = [5,1,2,3,4,5]
# a.remove(9)  9가 없기 떄문에 에러 발생
a.remove(5) #제일 앞 5만 지워짐(인덱스가 아닌 실제 값)
print(a)

[1, 2, 3, 4, 5]

  - pop()
    - 인덱스로 삭제
    - 삭제하려는 인덱스에 값을 반환 후 삭제 가능
    - 매개변수가 없으면 가장 마지막 값을 삭제

In [51]:
a = [1,2,3,4,5]

b = a.pop(1)  # b에 '2'를 넣어두고 a에 '2'를 삭제

print(a)
print(b)

[1, 3, 4, 5]
2

  - index()
    - 찾고자 하는 값의 인덱스 값 반환

In [52]:
a = [1,2,3,4,5]
a.index(1)  #1이라고 하는 실제값의 인덱스를 반환

0

  - in 키워드
    - 결과 : true, False
    - list에 해당 값이 존재하는지 유무

In [55]:
a = [1,2,3,4,5]
b = 10

c = b in a
d = 2

print(c)
print(d in a)

False
True

  - list 정렬
    1. sort() : 기존 리스트를 정렬
    2. sorted() : 복사본을 생성하고 정렬(기존 리스트는 그대로)

In [58]:
a = [9,1,89,54,21,35,48,1,63]
b = sorted(a) # 기존 a는 그대로 유지, b에 정렬한 뒤 복사

a.sort(reverse=True) # 기존 a를 정렬, Default: reverse=False(오름차순)
print(b)
print(a)

[1, 1, 9, 21, 35, 48, 54, 63, 89]
[89, 63, 54, 48, 35, 21, 9, 1, 1]

### Tuple
  - 여러개의 값을 갖는 컬렉션 타입
  - 생성된 후 변경이 불가능
  - ()로 생성

In [62]:
a = (1,2,3) # () 생략 가능
print(a)

# a[0] = 10  Tuple은 값 변경 불가능
print(a)

(1, 2, 3)
(1, 2, 3)

### 튜플 언패킹
  - 여러개의 변수에 동시에 값을 집어넣을 때 사용

In [63]:
a,b,c,d = (100, 200, 300, 400)
print(a,b,c,d)

100 200 300 400

In [66]:
a = 100
b = 200

print(a,b)  #200, 100

c = a
a = b
b = c
print(a,b)#Java

a,b = b,a #Python
print(a,b)

100 200
200 100
100 200